debug
debug~
*.upx
*.zip
*.html
dns-dependency-go-darwin-amd64.bin
dns-dependency-go-linux-amd64.bin
dns-dependency-go-linux-i386.bin
dns-dependency-go-windows-amd64.exe
dns-dependency-go-windows-i386.exe